@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

html {
    
    height: 100%;
    width:100%;

}

body{
  background:#EFEFEF;
    margin:0 auto;
    width: auto;
    
    height:auto;
    font-size: 100%;
    
  /* background: #FF5F6D; 
background: -webkit-linear-gradient(to right, #FF5F6D , #FFC371); 
background: linear-gradient(to right, #FF5F6D , #FFC371); */
}




#swipearea {
    display:none;
    position:relative;
    color:#FF626D;
    font-family: "Roboto"
    font-weight:100px;
    margin: 0 auto;
    margin-bottom:10px;
    text-align:center;
    line-height:50px;
    padding-top:15px;
}




body, .filterButton{
  font-family: 'Helvetica Neue', arial, sans-serif;
  color: white;
  -webkit-font-smoothing: antialiased;

}

.filterButton:hover {
    box-shadow:-3px 3px 10px 0 rgba(0, 0, 0, 0.10);
    border: 1px solid white;
    color:white;
    top:1.7%;
    
}



 
/**
 * Form & Checkbox Styles
 */

h4{
  font-weight: 700;
  margin-bottom: .5em;
  
}
 
label{
  font-weight: 300;
}

input[type="text"] {
  font-family: 'Roboto Light';
  font-size: 14px;
    color:white;
  border: 1px solid transparent;
  padding: .5em;
  border-radius: 2px;
    background:none;
    border: 1px dotted white;
}

input[type="text"]:focus {
  outline: 0 none;
  border-color: #68b8c4;
}
 
.filterButton{
    width:120px;
    height: 34px;
    position:fixed;
    box-sizing:border-box;
    text-align: center;
    top:2%;
    left:9.5%;
    display:block;
    vertical-align: middle;
    padding: .4em .8em;
    margin: 0 auto;
    background: none;
    border: 0;
    color: white;
    font-size: 16px;
    line-height:17px;
    font-weight: 700;
    border-radius: 4px;
    border: 1px dotted white;
    cursor: pointer;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.10);
    transition: all 200ms ease;
    

}
 
.filterButton:active{
    opacity:0.5;
    
    
}
 
.controls{
    background: #FF626D; /* fallback for old browsers */
   
    box-shadow: -3px 3px 10px rgba(0,0,0,0.20);
    border:none;
    /*padding-top:10px;*/
    
    /*margin: 0 auto;*/
    /*overflow-x: hidden;*/
    

    padding-bottom:400px;
     
    /*padding-top:15px;*/
    z-index:40;
   /* position:absolute;*/
    /*top:70px;*/
    height:auto;
    float:left;
   
    will-change: transform;
    will-change: width;
   -webkit-transform: translateZ(0);
    
       
    
    
    
    
    

   
  
   
   
}
 



.controlsbutton {
    
   
}





fieldset{
  display: inline-block;
  vertical-align: top;
  margin: 0 1em 0 0;
  background: #666;
  padding: .5em;
  border-radius: 3px;
}

.checkbox{
    display: block;
    position: relative;
    cursor: pointer;
    margin-bottom: 8px;
    background:none;
    color:white;

}



.checkbox input[type="checkbox"]{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  opacity: 0;
  z-index: 1;
}

.checkbox label{
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-left: 1.5em;
}

.checkbox label:before,
.checkbox label:after{
  content: '';
  display: block;
  position: absolute;
}

.checkbox label:before{
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  background: none;
  border-radius: 3px;
  border: 1px dotted white;
}

.checkbox label:after{
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background: white;
  opacity: 0;
  pointer-events: none;
}

.checkbox input:checked ~ label:after{
  opacity: 1;
}

.checkbox input:focus ~ label:before{
 /* background: #eee;*/
}



.container{
    
    /*min-height: 600px;*/
    /*text-align: justify;*/
    /*margin-left:30%;*/
    
    padding: 2%;
/*    overflow-y:visible; */
    
    margin-bottom:400px;
    margin-top:10px;
    height:auto;
    z-index:20;
    
   



  
}


.container .gap{
  width: 50px;
  display: inline-block;
  margin: 0 5%;
}

.container .mix{
  
  /* margin: 1%;*/
  // background: white;
  display: none;
  width: 380px;
    
}











/**
 * Fail message styles
 */

.container .fail-message{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
    
  
  -webkit-transition: 150ms;
  -moz-transition: 150ms;
  transition: 150ms;
}

.container .fail-message:before{
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.container .fail-message span{
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  font-weight: 700;
}

.container.fail .fail-message{
  opacity: 1;
  pointer-events: auto;

}


/* card */


.card {
    position:relative;
    /*margin:5px;*/
    margin:1%;
    width:auto;
    max-width: 375px;
    border: 1px solid white;
    box-shadow: -3px 3px 10px rgba(0,0,0,0.50);
    border:none;
    
    height:350px;
    border-radius: 1px;
    vertical-align: middle;
    z-index:-1;
    background:white;
    transition: display 1s;
    transition-timing-function: ease-out;
    box-shadow: -2px 3px 5px 0px rgba(0,0,0,0.27);
    transition: box-shadow 0.3s ease;

    
}

    .card:before {
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
      -ms-transition: opacity 0.2s ease-in-out;
      transition: opacity 0.2s ease-in-out;
      /*background: url("images/overlay.png");*/
      border-radius: 0.35em;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.5;
      position: absolute;
      top: 0;
      width: 100%;
    }




  .card:after {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    border-radius: 0.35em;
    border: solid 3px rgba(255, 255, 255, 0.5);
    color: #fff;
    content: 'View';
    display: inline-block;
    font-size: 0.8em;
    font-weight: 400;
    left: 50%;
    line-height: 2.25em;
    margin: -1.25em 0 0 -3em;
    opacity: 0;
    padding: 0 1.5em;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 50%;
    white-space: nowrap;
  }

    .card:hover:after {
      opacity: 1.0;
    }

    .card:hover:before {
      background: url("images/overlay.png"), url("images/overlay.png");
      opacity: 1.0;
    }


.card h5 {
    /*float:left;*/
    /*position:absolute; */
    text-align:left;
    margin-left: 115px; 
    /* top:0;
    left:0;*/
    /*opacity:0.9;*/
    
    font-family: 'Roboto';
    font-size: 16px;
    color: black;
    
   


  

    
}

.card p {
    /*position:relative;*/
    /*float:left;*/
    font-family: 'Roboto';
    font-size: 14px;
    color: black;
    /*text-shadow: 0px 1px 1px rgba(0,0,0,0.50);*/
    text-align:left;
    margin-top:-50px;
    margin-left:40px;
    padding: 30px;
    text-indent: -30px;
    z-index = 1;
   

}

.notes {
    position:absolute;
    float:right;
    font-family: HelveticaNeue;
    margin-right: 10px;
    margin-top:10px;
    margin-left:10px;
    font-size: 10px;
    color: grey;
    font-style:italic;
    text-align:left;
    bottom:5px;
    right:0px;
    text-indent:-3px;
    
    
    
}
.italics {
    font-style:italic;
    font-family: HelveticaNeue;
    font-size: 14px;
    color: black;
    /*text-shadow: 0px 1px 1px rgba(0,0,0,0.50);*/
    font-weight:400;
    
}
   

.filter-group {
    margin-top:-22px;
    background: none;
    color:white;
    border:none;
    position:relative;
    float:left;
}

::-webkit-input-placeholder {
   color: white;
}

:-moz-placeholder { /* Firefox 18- */
   color: white;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white;  
}

:-ms-input-placeholder {  
   color: white;  
}


.input1::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  .input1::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  .input1:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  .input1:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  .input1:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  .input1:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  .input1:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  .input1:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.leafover {
    /*float:left;
    position:absolute;
    width: 0;
	height: 0;
	border-bottom: 100px solid red;
	border-left: 100px solid transparent;
    z-index: 5; */
    
    float:left;
    position:relative;
    margin-right:10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 70px 70px;
    border-color: transparent transparent #8ea3ba transparent;
    z-index: 0;
    
    

    
}

.TXpocket {
    float:left;
    position:relative;
    z-index: 5;
    top: -0.7em;
    /* left:-0.96em;*/
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    z-index:1;
    margin-bottom:10px;
    
}

.NCpocket {
    float:left;
    position:relative;
    z-index: 5;
    top: -0.7em;
    /* left:-0.96em;*/
    transform: scale(0.85);
    -webkit-transform: scale(0.85);
    z-index:1;  
    margin-bottom:10px;
    
    
}

.svgleaftop {
    float:left;
    position:relative;
    z-index: 5;
    top:-0.96em;
    left:-0.96em;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    z-index:1;
    
    /*float:left;
    position:relative;
    z-index: 5;
    top:-0.61em;
    left:-0.62em;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    z-index:1;*/
   
}

.svgleafbottom {
    float:left;
    position:relative;
    z-index: 0;
    top: -0.59em;
    left: -7.03em;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    
    
    /*float:left;
    position:relative;
    z-index: 5;
    top: -0.75em;
    left: -6.8em;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    /*z-index:5;*/ */
   
    
}



.tag {
    position:absolute;
    z-index: 4;
  
    padding-left:9px;
    
    
}

.tagTX {
    position:absolute;
    z-index:;
    padding-left:5px;  
    color:white;
    
}


#swipeareared {
    
    text-align:center;
    width:auto;
    height:0px;
    display:none; 
    border:none;
    margin: 0 auto;
    margin:10px;
    position:relative;
    padding-top:10px;
    
}

#swipegesturered {
    width="auto";
    height="170px"; 
    margin:0 auto;
    position:relative;
    display:none;
    border:0px;
    
    
}

.logo {
    display:block;
    margin: 0 auto;
    border: none;
    width: 90px;
    height:110px;
    position:relative;
    padding-top:7px;
    transform: scale(0.85);
    
    
}

.responsivecontainerleft {
    /*margin:0 auto;*/
    height:100%;
    overflow-y: scroll;
     -webkit-overflow-scrolling: touch;
    width:30%;
    position:fixed;
    float:left;
    z-index: 40;
        
        
    }

.responsivecontainerright {
    
    width:70%;
    height:100%;
    position:fixed;
    margin-left:30%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 20;
    
    
    
}

@media only screen and (max-width:763px) {

    .responsivecontainerleft {
        margin:0 auto;
        /*max-width:380px;*/
        height:100%;
        width:0px;
       
        
       
        
        
    }
    
    .responsivecontainerright {
        margin:0 auto;
        width:auto;
        position:relative;
        max-width:380px;
        height:100%;
        overflow-y: scroll;
        -webkit-overflow-scrolling:touch;
    }
    
    .container {
        margin:0 auto;
        width:auto;
        height:100%;
       
        
        
       
    }
    
    .navigationbar {
        background: -webkit-linear-gradient(to right, #FF626D , #FFC371); 
        background: linear-gradient(to right, #FF626D , #FFC371); 
    }
    
    .card {
        height:auto;
        /*max-height:250px;*/
        padding:0%;
    }
    
    .notes {
        
        padding-top:60px;
    }
    
    .filter-group {
        margin-top:0px;
    }
    
    .controls {
        margin:0 auto;
        z-index:20;
        position:absolute;
        width:100%;
        left:0px;
        float:none;
        will-change: transform;
        will-change: width;
        -webkit-transform: translateZ(0);
        height:auto;
        
        
        
       
       
        
    }
    
    #swipearea {
        display:inherit; 
        position:relative;
    }
 
    #swipeareared {
        
        height: 0px;
        display:block;
        
    }
    
    #swipegesturered {
        width="auto";
        height="170px"; 
        margin:0 auto;
        position:relative;
        display:block;
        border:0px;

    
}
    
    .swipeinstructions {
        margin:0 auto;
    
    
}

    .animation {
        border:0px;
        width="auto";
        height="170px"; 
        margin:0 auto;
        position:relative;
        display:block;


}

    
    .filterButton {
        
        top:3.5%;
        left:4.5%;
        
    }
    
}




/* Header */

  #page-wrapper {
    padding-top: 3.5em;
  }

  #header {
    background: rgba(39, 40, 51, 0.965);
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    cursor: default;
    height: 3.5em;
    left: 0;
    line-height: 3.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    font-family: 'Roboto', arial, sans-serif;
  }

    #header h1 {
      height: inherit;
      left: 1.25em;
      line-height: inherit;
      margin: 0;
      position: absolute;
      top: 0;
    }

    #header nav {
      position: absolute;
      right: 1em;
      top: 0;
    }

      #header nav ul {
        margin: 0;
      }

        #header nav ul li {
          display: inline-block;
          margin-left: 1em;
        }

          #header nav ul li a, #header nav ul li span {
            border: 0;
            color: inherit;
            display: inline-block;
            height: inherit;
            line-height: inherit;
            outline: 0;
          }

            #header nav ul li a.button, #header nav ul li span.button {
              height: 2em;
              line-height: 2em;
              padding: 0 1.25em;
            }

            #header nav ul li a:not(.button):before, #header nav ul li span:not(.button):before {
              margin-right: 0.5em;
            }

          #header nav ul li.active > a, #header nav ul li.active > span {
            color: #e44c65;
          }

          #header nav ul li > ul {
            display: none;
          }

  body.landing #page-wrapper {
    padding-top: 0;
  }

  body.landing #header {
    background: transparent;
    box-shadow: none;
    position: absolute;
  }

/* HEY IT'S ME */

body, input, select, textarea {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 100%;
    font-weight: 100;
    line-height: 1.75em;
  }

h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

h1 {
    color: #ffffff;
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 1em 0;
  }

  h1 {
      color: inherit;
      border: 0;
    }

    a {
    -moz-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out;
    
    color: #e44c65;
    text-decoration: none;
  }

    a:hover {
      color: #e44c65 !important;
     
    }

    h1 a {
      color: inherit;
      border: 0;
    }

    h1 strong, b {
    color: #ffffff;
    font-weight: 300;
  }


/* Dropotron */

  .dropotron {
    background: rgba(39, 40, 51, 0.965);
    border-radius: 4px;
    box-shadow: 0 0.075em 0.35em 0 rgba(0, 0, 0, 0.125);
    list-style: none;
    margin-top: calc(-0.25em + 1px);
    min-width: 12em;
    padding: 0.25em 0;
  }

    .dropotron > li {
      border-top: solid 1px rgba(255, 255, 255, 0.035);
      padding: 0;
    }

      .dropotron > li a, .dropotron > li span {
        border: 0;
        color: rgba(255, 255, 255, 0.75);
        display: block;
        padding: 0.1em 1em;
        text-decoration: none;
      }

      .dropotron > li:first-child {
        border-top: 0;
      }

      .dropotron > li.active > a, .dropotron > li.active > span {
        color: #e44c65;
      }

    .dropotron.level-0 {
      font-size: 0.8em;
      margin-top: 1em;
    }

      .dropotron.level-0:before {
        -moz-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        background: #272833;
        content: '';
        display: block;
        height: 1em;
        position: absolute;
        right: 1.5em;
        top: -0.5em;
        width: 1em;
      }

  body.landing .dropotron.level-0 {
    margin-top: 0;
  }

/* Button */

  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 3em;
    line-height: 3em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
  }

    input[type="submit"]:hover, input[type="submit"]:active,
    input[type="reset"]:hover,
    input[type="reset"]:active,
    input[type="button"]:hover,
    input[type="button"]:active,
    .button:hover,
    .button:active {
      box-shadow: inset 0 0 0 1px #e44c65;
      color: #e44c65 !important;
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    .button:active {
      background-color: rgba(228, 76, 101, 0.15);
    }

    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    input[type="button"].icon:before,
    .button.icon:before {
      margin-right: 0.5em;
    }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    .button.fit {
      display: block;
      margin: 0 0 1em 0;
      width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    .button.small {
      font-size: 0.8em;
    }

    input[type="submit"].big,
    input[type="reset"].big,
    input[type="button"].big,
    .button.big {
      font-size: 1.35em;
    }

    input[type="submit"].special,
    input[type="reset"].special,
    input[type="button"].special,
    .button.special {
      background-color: #e44c65;
      box-shadow: none;
      color: #ffffff !important;
    }

      input[type="submit"].special:hover,
      input[type="reset"].special:hover,
      input[type="button"].special:hover,
      .button.special:hover {
        background-color: #e76278;
      }

      input[type="submit"].special:active,
      input[type="reset"].special:active,
      input[type="button"].special:active,
      .button.special:active {
        background-color: #e13652;
      }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    .button.disabled,
    .button:disabled {
      background-color: rgba(255, 255, 255, 0.3) !important;
      box-shadow: none !important;
      color: #ffffff !important;
      cursor: default;
      opacity: 0.25;
    }



/* Let's use this thing for card CSS */


